<html>
	<body>
		<h2>Nhận dạng chữ viết</h2>
		<img id="hIm" src="" width="200" height="200" />
		<br />
		<input name="predict" id="imageChooser" type="file" />
		<button id="predict">Predict</button>
		<span id="result" style="font-size: large"></span>
		<script
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
